# SPDX-FileCopyrightText: 2025 Peter Lemenkov <lemenkov@gmail.com>
# SPDX-License-Identifier: MIT

[Unit]
Description=Erigon watchdog multi-failure detection with diagnostics
Requires=network-online.target
After=network-online.target erigon.service

[Service]
EnvironmentFile=-/etc/sysconfig/erigon_watchdog
ExecStart=/usr/bin/erigon_watchdog
Type=simple
Restart=on-failure
RestartSec=10

# Security hardening
DynamicUser=yes
RuntimeDirectory=erigon_watchdog
RuntimeDirectoryMode=0750
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
RestrictNamespaces=yes
RestrictRealtime=yes

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=erigon_watchdog

[Install]
WantedBy=multi-user.target
